@model DAL.ViewModels.AddUserViewModel
@{
    ViewData["Title"] = "UserProfile";
    Layout = User.IsInRole("Chef") ? "_OrderAppLayout" : "_Layout";
}

<div class="d-flex flex-column px-xl-4 px-md-3 px-3 py-3 gap-3">

    <div class="d-flex justify-content-between">
        <h1 class="fw-bold fs-3 user-text">My Profile</h1>
    </div>

    <form class="d-flex flex-column bg-white rounded shadow-lg" asp-action="UserProfile" enctype="multipart/form-data">
        <!-- bg div  -->
        <div class="row">
            <img src="/images/profile_div_bg.jpg" style=" height: 60px;" />
        </div>
        <!-- profile pic -->
        <div class="row p-3">

            <div class="position-relative ps-4">

                <img id="user-profile" src="@Model.Image" class="" height="95px" width="95px" alt=""
                    style="position: absolute; margin-top: -40px; border-radius:50%;">

                <label for="profile-img">
                    <img src="../images/camera.svg" class="ms-3 position-absolute bg-white p-1 border border-dark"
                        alt="" style="left:73px; top:30px; border-radius: 50%;" width="25px" height="25px" />
                </label>
                <div>
                </div>
                <input asp-for="@Model.ProfileImage" type="file" class="form-control d-none" id="profile-img">

            </div>
            <div class="ps-md-5 pt-5 pt-md-0 ">

                <div class="d-flex justify-content-md-between flex-md-row flex-column pt-4 pt-md-0 ps-md-5">
                    <span class="fs-3 fw-bold ps-md-4">@Model.FirstName @Model.LastName</span>
                    <span class="pe-md-5 pt-sm-3 pt-2">@Model.Email</span>
                </div>

                <div class="fs-6 ps-md-5 pe-md-5 pt-2 pt-sm-1"><span class="ms-md-4">@Model.Username</span></div>

            </div>
        </div>
        <div class="p-3">
            <div class="d-flex flex-sm-row flex-column gap-sm-3 gap-0">
                <div class="form-floating mb-3 col">
                    <input asp-for="FirstName" type="text" class="form-control " id="floatingInput"
                        placeholder="First Name">
                    <label asp-for="FirstName" for="floatingInput" class="fs-6 text-secondary">First Name</label>
                    <span asp-validation-for="FirstName" class="validate text-danger ms-1 mt-2"></span>
                </div>
                <div class="form-floating mb-3 col">
                    <input asp-for="LastName" type="text" class="form-control" id="floatingInput"
                        placeholder="Last Name">
                    <label asp-for="LastName" for="floatingInput" class="fs-6 text-secondary">Last Name</label>
                    <span asp-validation-for="LastName" class="validate text-danger ms-1 mt-2"></span>
                </div>
            </div>
            <div class="d-flex flex-sm-row flex-column gap-sm-3 gap-0">
                <div class="form-floating mb-3 col">
                    <input asp-for="Username" type="text" class="form-control" id="floatingInput"
                        placeholder="John Deo">
                    <label asp-for="Username" for="floatingInput" class="fs-6 text-secondary">User Name</label>
                    <span asp-validation-for="Username" class="validate text-danger ms-1 mt-2"></span>
                </div>
                <div class="form-floating col">
                    <div class="form-floating mb-3 col">
                        <input asp-for="Phone" type="number" class="form-control" id="floatingInput" placeholder="Phone"
                            pattern="0-9">
                        <label asp-for="Phone" for="floatingInput" class="fs-6 text-secondary">Phone</label>
                        <span asp-validation-for="Phone" class=" validate text-danger ms-1 mt-2"></span>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-sm-row flex-column gap-sm-3 gap-0">
                <div class="form-floating mb-3 col">
                    <select asp-for="@Model.CountryId" asp-items="@ViewBag.Countries" id="country" class="form-control">
                        <option value="">Select Country</option>
                    </select>
                    <label for="floatingSelect text-secondary">Country</label>
                    <span class="text-danger validate ms-1 mt-2">@TempData["CountryError"]</span>
                </div>
                <div class="form-floating mb-3 col position-relative">
                    <select id="state" asp-for="@Model.StateId" asp-items="@ViewBag.States" class="form-control">
                        <option value="">Select State</option>
                    </select>
                    <label for="floatingSelect text-secondary">State</label>
                    <span class="text-danger validate ms-1 mt-2">@TempData["StateError"]</span>
                </div>
                <div class="form-floating mb-3 col">
                    <select id="city" asp-for="@Model.CityId" asp-items="@ViewBag.Cities" class="form-control">
                        <option value="">Select City</option>
                    </select>
                    <label for="floatingSelect text-secondary">City</label>
                    <span class="text-danger validate ms-1 mt-2">@TempData["CityError"]</span>
                </div>
            </div>
            <div class="d-flex flex-sm-row flex-column g-sm-3 row p-0">
                <div class="form-floating mb-3 col-12 col-sm-8">
                    <input asp-for="Address" type="text" class="form-control" placeholder="Address">
                    <label asp-for="Address" for="floatingInput" class="fs-6 text-secondary">Address</label>
                </div>
                <div class="form-floating mb-3 col-sm-4">
                    <input asp-for="Zipcode" type="text" class="form-control" placeholder="Zipcode">
                    <label asp-for="Zipcode" for="floatingInput" class="fs-6 text-secondary">Zipcode</label>
                    <span asp-validation-for="Zipcode" class="validate text-danger ms-1 mt-2"></span>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn solid-btn">Update</button>
                <a asp-action="Dashboard" asp-controller="User" type="button" class="btn btn-light hollow-btn">Cancel</a>
            </div>
        </div>
    </form>

</div> 

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @* Country,State,City *@
    <script>
        $(document).ready(function () {
            $('#country').change(function () {
                var countryId = $(this).val();
                console.log(countryId);

                $.getJSON('@Url.Action("GetStates", "User")', { countryId: countryId }, function (states) {
                    var statesSelect = $('#state');
                    console.log(states);
                    statesSelect.empty();
                    $("#city").empty();
                    statesSelect.append('<option selected value="">Select State</option>');
                    $("#city").append('<option selected value="">Select City</option>');
                    $.each(states, function (index, state) {
                        statesSelect.append($('<option/>', {
                            value: state.value,
                            text: state.text
                        }));
                    });
                });
            });
            $('#state').change(function () {
                var stateId = $(this).val();
                $.getJSON('@Url.Action("GetCities", "User")', { stateId: stateId }, function (cities) {
                    var citiesSelect = $('#city');
                    citiesSelect.empty();
                    citiesSelect.append('<option selected value="">Select City</option>');
                    $.each(cities, function (index, city) {
                        citiesSelect.append($('<option/>', {
                            value: city.value,
                            text: city.text
                        }));
                    });
                });
            });
        });
    </script>

    @* Profile Image show *@
    <script>
        $("#profile-img").change(function () {
            const file = this.files[0];
            if (file) {
                const fileReader = new FileReader();
                fileReader.onload = function (event) {
                    $("#user-profile").attr("src", event.target.result);
                };
                fileReader.readAsDataURL(file);
            }
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}