@using DAL.ViewModels;
@model OrderAppTableMainViewModel

<input type="hidden" id="sectionId" value="@Model.SectionId" />
<input type="hidden" id="sectionName" value="@Model.SectionName" />

<div class="offcanvas-header">
    <h5 id="offcanvasRightLabel" class="user-text fs-4 fw-bold">Waiting List</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    @if (Model.WaitingTokenVMList.Count == 0)
    {
        <div class="fw-bold fs-5 text-danger p-3 ps-0 border border-top-1 border-end-0 border-start-0 border-bottom-2">There
            are no Waiting Token in this Section</div>
    }
    else
    {
        <div class="table-responsive">
            <table class="table">
                <thead class="border border-end-0 border-start-0 border-top-0 border-bottom-1 border-dark fw-bold">
                    <th class="text-center">&nbsp</th>
                    <th class="text-start">ID</th>
                    <th class="text-nowrap text-start">Name</th>
                    <th class="text-start">No. of Person</th>
                </thead>
                <tbody>
                    @foreach (var waiting in Model.WaitingTokenVMList)
                    {
                        <tr class="border border-end-0 border-start-0 border-top-0 border-bottom-1 text-secondary">
                            <td class="text-start"><input type="radio" class="waitingListOffCanvasRadio"
                                    id="waitingListCheckbod-@waiting.WaitingId" name="demo" data-email="@waiting.Email"
                                    data-id="@waiting.WaitingId"></td>
                            <td class="text-start">#@waiting.WaitingId</td>
                            <td class="text-nowrap text-start">@waiting.CustomerName</td>
                            <td class="text-start">@waiting.NoOfPerson</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <!-- Customer Details Partial View -->
    <div id="customersDetail">

    </div>

</div>

<script>

    var waitingId = 0;

    function GetCustomerDetails(waitingId) {
        let sectionId = $("#sectionId").val();
        console.log(sectionId);
        let sectionName = $("#sectionName").val();
        console.log(sectionName);
        $.ajax({
            url: "/OrderAppTable/GetCustomerDetails",
            type: "GET",
            data: { waitingId: waitingId, sectionId: sectionId, sectionName: sectionName },
            success: function (data) {
                $("#customersDetail").html(data);
            }
        });
    }

    function CheckEmailRadio(tag) {

        var waitingListRadio = document.getElementsByClassName("waitingListOffCanvasRadio");
        console.log("this is", waitingListRadio[0].getAttribute("data-email"));

        var radioEmail = $(tag).val();
        console.log("radio", radioEmail);

        for (i = 0; i < waitingListRadio.length; i++) {
            if (waitingListRadio[i].getAttribute("data-email") == radioEmail) {
                waitingListRadio[i].checked = true;
            } else {
                waitingListRadio[i].checked = false;
            }
        }
    }

    $(document).ready(function () {
        GetCustomerDetails(waitingId);
    });

    $(document).on("change", ".waitingListOffCanvasRadio", function () {
        waitingId = $(this).attr("data-id");
        GetCustomerDetails(waitingId);
    });

</script>