@using DAL.ViewModels;
@model List<ItemsViewModel>

@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <div class="d-flex mt-2 bg-white shadow-sm" onclick="ModifiersByItemSelected(this)" data-itemname="@item.ItemName"
            data-itemId="@item.ItemId" style=" width: 260px !important; border-radius: 0.7rem !important;">
            <div style="max-width: fit-content;  border-radius: 0.7rem !important; z-index: 3; ">
                <div class="d-flex justify-content-center align-items-center shadow-lg"
                    style="height: 65px; width: 65px; border-radius: 0.7rem !important;">
                    <img src="@item.ItemImage" width="100%" height="100%" style=" border-radius: 0.7rem !important;"
                        class=" bg-white">
                </div>
            </div>
            <div style="z-index:2; height: 65px; min-width: 200px; border-top-right-radius: 0.7rem !important; border-bottom-right-radius: 0.7rem !important;"
                class="bg-white d-flex justify-content-between">
                <div class="ps-2 py-1 d-flex flex-column justify-content-between">
                    <span>@item.ItemName</span>
                    <span class="text-secondary validate pb-1">₹@item.Rate</span>
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <span
                        style="clip-path: polygon(0% 0%, 100% 100%, 100% 0%); height: 30px; width: 30px; border-top-right-radius: 0.7rem; "
                        class="pb-2 @(item.ItemTypeId == 1 ? "bg-success" : item.ItemTypeId == 2 ? "bg-danger" : "bg-warning")"></span>
                    <span><i class="pb-2 @(item.IsFavourite ? "fa-solid" : "fa-regular") @(item.IsFavourite ? "user-text" : "") fa-heart"
                            data-itemId="@item.ItemId" onclick="FavouriteItem(event,this)"></i></span>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="d-flex justify-content-center w-100">
        <span class="fw-bold text-danger fs-4">No Items Found</span>
    </div>
}

<!-------- Modifiers Modal---------- -->
<div id="ModifiersByItemId" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="ModifiersByItemId-Content">
    </div>
</div>

<script>
    function ModifiersByItemSelected(tag) {

        var itemId = tag.getAttribute("data-itemId");
        var itemName = tag.getAttribute("data-itemname");

        $.ajax({
            url: "/OrderAppMenu/GetModifiersByItemId",
            type: "GET",
            data: { itemId: itemId },
            success: function (data) {
                @* console.log(data); *@
                data += `<input type="hidden" id="itemIdForOrderDetails" value=${itemId}>`

                $("#ModifiersByItemId-Content").html(data);
                $("#itemName").html(itemName);
                $("#ModifiersByItemId").modal("show");
            }
        });
    }
</script>