@using DAL.ViewModels;
@model OrderDetailViewModel;

@{
    var count = 0;

    <div class="bg-white rounded-2">

        @* Upper Div *@
        <div class="d-flex justify-content-between p-1">
            @* <!-- Table And Section --> *@
            <div class="d-flex">
                <img src="../images/icons/dinner-table.svg" width="40px" height="40px" alt="Image"
                    style="background-color: #cbe4f3 !important;" class="p-1 rounded-1">
                <span class="d-flex flex-column fs-6 ms-2">
                    <span style="max-width: fit-content;">@Model.SectionName </span>
                    <span class="fw-bold pt-2" style="max-width: fit-content;">Table :
                        @for (int i = 0; i < Model.tableList.Count; i++)
                        {
                            <span class="fw-normal text-secondary"> @Model.tableList[i].TableName</span>
                            if (i < Model.tableList.Count - 1)
                            {
                                <span class="fw-normal text-secondary">,</span>
                            }
                        }
                    </span>
                </span>
            </div>

            @* <!-- QR code , Customer Details, Order Comment --> *@
            <div class="d-flex gap-2">
                <div class="btn hollow-btn px-2" data-bs-toggle="modal" style="width: 38px !important;"
                    data-bs-target="#QRCodeModal"><i class="fa-solid fa-qrcode pt-1 fs-5"></i></div>
                <div class="btn hollow-btn px-2" data-bs-toggle="modal" data-bs-target="#CustomerDetails"
                    style="width: 38px !important;"><i class="fa-solid fa-user pt-1 fs-5"></i></div>
                <div class="btn hollow-btn px-2" data-bs-toggle="modal" data-bs-target="#orderComment"
                    onclick="getOrderInstruction()" style="width: 38px !important;"><i
                        class="fa-solid fa-message pt-1 fs-5"></i></div>
            </div>
        </div>

        @* Items Section *@
        <div class="table-responsive p-1">
            <table class="table" style="border-collapse: separate; border-spacing: 0px 10px;">
                <thead>
                    <tr class="fw-bold text-black-50 fs-6">
                        <td>Item</td>
                        <td>Quantity</td>
                        <td>Amount</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.itemOrderVM == null)
                    {
                        <tr class="">
                            <td colspan="4"
                                class="text-center text-danger fw-normal border border-top-1 border-bottom-0 border-end-0 border-start-0">
                                No Order Found</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model.itemOrderVM)
                        {
                            <tr class="border">
                                @* Item Name with Modifiers *@
                                <td class="border border-1 border-end-0"
                                    style="border-top-left-radius: 10px !important; border-bottom-left-radius: 10px !important;">
                                    <div class="accordion-item border-0 rounded-0 ">
                                        <div class="accordion">
                                            <div
                                                class="d-flex flex-column flex-sm-row align-items-sm-center justify-content-between">
                                                <div class="d-flex align-items-center w-100 me-4 me-sm-0">
                                                    <button class="accordion-button col-auto w-auto collapsed" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#TableMainBodyID-@item.ItemId-@count" aria-expanded="false"
                                                        aria-controls="TableMainBodyID-@item.ItemId-@count"
                                                        style="margin: 0px !important">
                                                    </button>
                                                    <div onclick="ShowItemInstruction(this,@count)" data-bs-toggle="modal"
                                                        data-bs-target="#ItemInstructionModal"
                                                        class="d-flex justify-content-between align-items-center w-100 text-nowrap ps-2">
                                                        <div class="fw-bold">@item.ItemName</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="TableMainBodyID-@item.ItemId-@count" class="accordion-collapse collapse my-3">
                                        @if (item.modifierOrderVM.Count == 0)
                                        {
                                            <div class="text-black-50 validate ps-4">No modifiers added</div>
                                        }
                                        else
                                        {
                                            @foreach (var modifier in item.modifierOrderVM)
                                            {
                                                <ul class="d-flex flex-column">
                                                    <li>
                                                        <div class="w-100 gap-3 d-flex align-items-center">
                                                            <div>@modifier.ModifierName</div>
                                                            <div>₹@modifier.Rate</div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            }
                                        }
                                    </div>
                                </td>

                                @* Quantity with +/- Button *@
                                <td class="border border-1 border-end-0 border-start-0">
                                    <div class="p-2 border rounded d-flex align-items-center"
                                        style="max-width: fit-content; height: 30px;">

                                        <div class="me-4 minus" style="cursor: pointer;" onclick="MinusQuantity(this,@count)">-
                                        </div>
                                        <span>@item.Quantity</span>
                                        <div class="ms-4 plus" style="cursor: pointer;" onclick="PlusQuantity(this,@count)">+</div>


                                    </div>
                                </td>

                                @* Amount with Total Item Amount *@
                                <td class="border border-1 border-start-0 border-end-0">
                                    <div class="d-flex flex-column gap-3 align-items-center mb-3" style="height: 30px;">
                                        <div>₹@item.TotalItemAmount</div>
                                        @if (item.modifierOrderVM.Count() != 0)
                                        {
                                            decimal? total = 0;
                                            foreach (var modifier in item.modifierOrderVM)
                                            {
                                                total += modifier.TotalModifierAmount;
                                            }
                                            <div id="">₹@total</div>
                                        }
                                    </div>


                                </td>

                                @* Remove Item Button *@
                                <td class="border border-1 border-start-0 "
                                    style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
                                    <div class=" ps-5">
                                        @if (item.status == "Pending")
                                        {
                                            <i class="fa-solid fa-trash-can mt-2"
                                                onclick="RemoveItemFromOrder(@item.ItemId,@count)"></i>
                                        }
                                        else
                                        {
                                            <i class="fa-solid fa-trash-can text-black-50" onclick="PrintToaster()"></i>
                                        }
                                    </div>
                                </td>
                            </tr>
                            count++;
                        }
                    }
                </tbody>
            </table>
        </div>

        @* <!-- Tax section --> *@
        <div class="p-1 border-top">

            @if (Model.itemOrderVM != null)
            {
                <div class="fs-6 w-100 pt-1 pb-2 d-flex justify-content-between align-items-center">
                    <span class="fs-5">SubTotal</span>
                    <div>
                        <span class="fs-5">₹@Model.SubTotalAmountOrder</span>
                    </div>
                </div>
            }

            @if (Model.taxInvoiceVM != null)
            {
                @foreach (var tax in Model.taxInvoiceVM)
                {
                    <div class="fs-6 pt-2 w-100 d-flex justify-content-between align-items-center">
                        <div class="">@tax.TaxName</div>
                        <div class="">₹@tax.TaxValue</div>
                    </div>
                }
                <div class="fs-6 pt-3 pb-3 w-100 d-flex justify-content-between align-items-center">
                    <span class="fs-5">Total</span>
                    <div>
                        <span class="fs-5">₹@(Model.TotalAmountOrder == 0 ? (00.00) : Model.TotalAmountOrder)</span>
                    </div>
                </div>
            }

            @* Payment Method *@

            <div class="fs-6 w-100 d-flex justify-content-between align-items-center">
                <div>Payment Method</div>
                <div class="d-flex gap-2 justify-content-between align-items-center">
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input payment-type" type="radio" name="payment" value="1"
                        @(Model.PaymentmethodId == 1 ? "checked=\"checked\"" : "")>
                        <label class="form-check-label ps-2 pt-1" for="radioDefault1">Cash</label>
                    </div>
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input payment-type" type="radio" name="payment" value="2"
                        @(Model.PaymentmethodId == 2 ? "checked=\"checked\"" : "")>
                        <label class="form-check-label ps-2 pt-1" for="radioDefault1">Card</label>
                    </div>
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input payment-type" type="radio" name="payment" value="3"
                        @(Model.PaymentmethodId == 3 ? "checked=\"checked\"" : "")>
                        <label class="form-check-label ps-2 pt-1" for="radioDefault1">UPI</label>
                    </div>
                </div>
            </div>

            @* Order Status *@
            <div class="py-4 d-flex flex-wrap justify-content-end gap-3">
                <button id="OrderSaveBtn" class="btn solid-btn order-OrderSaveBtn" style="width: 180px;"
                    onclick="SaveOrder()">Save</button>
                <button id="OrderCompleteBtn" class="btn hollow-btn" style="width: 180px;" data-bs-toggle="modal"
                    data-bs-target="#CompleteOrderModal">Complete</button>
                @if (Model.itemOrderVM == null)
                {
                    <button id="OrderGenerateInvoiceBtn" class="btn hollow-btn" style="width: 180px;" disabled>Generate
                        Invoice</button>
                }
                else
                {
                    <a asp-action="GenerateInvoicePDF" asp-controller="Order" asp-route-orderid="@Model.OrderId"
                        id="OrderGenerateInvoiceBtn" class="btn hollow-btn" style="width: 180px;">Generate Invoice</a>
                }
            </div>

            <div class="text-end">
                <button id="OrderCancelBtn" class="btn hollow-btn" style="width: 180px;" data-bs-toggle="modal"
                    data-bs-target="#CancelOrderModal">Cancel</button>
            </div>
        </div>

    </div>
}

<!----------------------------------------- Modal -------------------------------------------------------->

<!--QR code modal -->

<div id="QRCodeModal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5 fw-bold text-secondary ">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="text-center pt-3 pb-5">
                    <img src="/images/QR.png" alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center flex-column pt-5">
                    <div class="btn hollow-btn" style="font-weight: 600;">Done</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- customer details-->
<div id="CustomerDetails" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-md">
        @Html.Partial("_CustomerDetailOrderPartial", Model);
    </div>
</div>

<!--- comment--->
<div id="orderComment" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Wise Comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div class="form-floating  col-12 mb-3">
                    <textarea class="form-control" id="orderInstruction" cols="33"></textarea>
                    <label for="orderInstruction"> &nbsp; Comment</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn solid-btn" onclick="saveOrderInstruction()">Save</button>
                <button type="button" class="btn hollow-btn" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--- Item comment--->
<div id="ItemInstructionModal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-md" id="ItemInsructionModal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5 fw-bold text-secondary">Special Instruction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <input type="hidden" id="ItemInstructionCount">
                <div class="form-floating col-12 mb-3">
                    <input type="text" class="form-control" id="ItemInstructionText" cols="33"></input>
                    <label for="ItemInstruction" class="fw-normal"> &nbsp; Item Instruction*</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn solid-btn" onclick="StoreItemInstruction()">Save</button>
                <button type="button" class="btn hollow-btn" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Customer review after complete-->
<div id="CustomerReviewModal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs -keyboard="false">
    <div class="modal-dialog-centered modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5 fw-bold text-secondary">Customer Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center flex-column">
                <div class="d-flex justify-content-between col-12 pb-2">
                    <span class="text-secondary fw-bold">Food</span>
                    <span>
                        @for (int i = 1; i <= 5; i++)
                        {
                            <i class="fa-regular fa-star text-warning food-review-class ps-2" id="food-review-@i"
                                onclick="EditReview(`food`,@i)"></i>
                        }
                    </span>
                </div>
                <div class="d-flex justify-content-between col-12 pb-2">
                    <span class="text-secondary fw-bold">Service</span>
                    <span>
                        @for (int i = 1; i <= 5; i++)
                        {
                            <i class="fa-regular fa-star text-warning service-review-class ps-2" id="service-review-@i"
                                onclick="EditReview(`service`,@i)"></i>
                        }
                    </span>
                </div>
                <div class="d-flex justify-content-between col-12 pb-2">
                    <span class="text-secondary fw-bold">Ambience</span>
                    <span>
                        @for (int i = 1; i <= 5; i++)
                        {
                            <i class="fa-regular fa-star text-warning ambience-review-class ps-2" id="ambience-review-@i"
                                onclick="EditReview(`ambience`,@i)"></i>
                        }
                    </span>
                </div>
                <hr class="text-warning col-12" style="height: 3px;" />
                <div class="form-floating col-12 mt-3">
                    <textarea class="form-control" placeholder="Leave a comment here" id="ReviewText"
                        style="height: 100px"></textarea>
                    <label for="ReviewText" class="text-secondary">Comment</label>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn solid-btn me-2 fw-normal" id="SaveCustomerReview"
                    onclick="SaveRating()" disabled>Save</button>
                <button type="button" class="btn hollow-btn fw-normal" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Cancel Order Confirmation -->
<div class="modal fade" id="CancelOrderModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5 fw-bold text-secondary">Cancel Conformation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="d-flex justify-content-center mb-3"><img
                        src="../images/toppng.com-warning-icon-2400x2400.png" style="width: 30px;" alt=""></div>
                <p class="fw-semibold text-secondary text-center mb-3">Are you sure you want to Cancel this Order ?
                </p>
                <div class="modal-footer mt-3 d-flex justify-content-center">
                    <button type="submit" class="btn solid-btn" data-bs-dismiss="modal"
                        onclick="CancelOrder()">Yes</button>
                    <button type="button" class="btn hollow-btn" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Complete Order Confirmation -->
<div class="modal fade" id="CompleteOrderModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fs-5 fw-bold text-secondary">Complete Conformation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="d-flex justify-content-center mb-3"><img
                        src="../images/toppng.com-warning-icon-2400x2400.png" style="width: 30px;" alt=""></div>
                <p class="fw-semibold text-secondary text-center mb-3">Are you sure you want to Complete this Order ?
                </p>
                <div class="modal-footer mt-3 d-flex justify-content-center">
                    <button type="submit" class="btn solid-btn" data-bs-dismiss="modal"
                        onclick="CompleteOrder()">Yes</button>
                    <button type="button" class="btn hollow-btn" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@

<script>

    $("#ReviewText").on('keyup', function () {
        comment = $(this).val();
        if (comment.length > 0) {
            $("#SaveCustomerReview").removeAttr("disabled");
        } else {
            $("#SaveCustomerReview").attr("disabled", "disabled");
        }
    });

    function PrintToaster() {
        callErrorToaster("Sorry order is almost Ready!");
    }

    $(document).ready(function () {
        var orderDetails = @Html.Raw(Json.Serialize(Model));

        $(".payment-type").on("change", function () {
            var paymentMethodId = $(this).val();
            orderDetails.paymentmethodId = paymentMethodId;
        });

        FillAlreadySavedDataInArray(orderDetails);
    });
</script>