@using DAL.ViewModels
@model PaginationViewModel<CustomerViewModel>

@if (Model.Items.Count == 0)
{
    <tr>
        <td colspan="12" class="text-center text-danger fw-bold">No Records Found</td>
    </tr>
}
else
{
    @foreach (var item in Model.Items)
    {
        <tr id="CustomerHistoryTR" class="border border-end-0 border-start-0 border-top-0 border-bottom-1 text-secondary" data-bs-toggle="modal" data-bs-target="#CustomerHistoryModal" >
            <td class="text-start text-nowrap" data-customer="@item.CustomerId" >@item.CustomerName</td>
            <td class="text-start text-nowrap" data-customer="@item.CustomerId" >@item.Email</td>
            <td class="text-start text-nowrap" data-customer="@item.CustomerId" >@item.PhoneNo</td>
            <td class="text-start text-nowrap" data-customer="@item.CustomerId" >@item.CreatedAt</td>
            <td class="text-start" data-customer="@item.CustomerId">@item.totalOrder</td>
        </tr>
    }
}
<input type="hidden" id="totalRecordsHidden" value="@Model.TotalCount" />