@using BLL.Helpers
@model PaginationHelper<User>


@if (Model.Items.Count == 0)
{
    <tr>
        <td colspan="6" class="text-center text-danger fw-bold">No Data Found</td>
    </tr>
}
else
{
    @foreach (var item in Model.Items)
    {
        <tr>
            <td><img src="@item.ProfileImage" class="img-fluid me-1 " width="25px" alt="" /><span class="">@item.FirstName @item.LastName</span></td>
            <td>@item.Userlogin.Email</td>
            <td>@item.Phone</td>
            <td>@item.Userlogin.Role.RoleName</td>
            <td>
                @if (item.Status == true)
                {
                    <div class="text-center text-white bg-success rounded-pill w-75 fs-6 p-md-1 p-2">
                        Active</div>
                }
                else
                {
                    <div class="text-center text-white bg-danger rounded-pill w-75 fs-6 p-md-1 p-2">
                        Inactive</div>
                }
            </td>
            <td>
                <a asp-action="EditUser" asp-route-Email="@item.Userlogin.Email" class="text-dark">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <i class="fa-solid fa-trash-can" data-bs-toggle="modal" data-bs-target="#delete-user"
                    data-email="@item.Userlogin.Email"></i>
            </td>
        </tr>
    }
}
